
articles/
fonts/

.project
.settings
.buildpath

*.phar
*.bkp
*.dtmp

/src/about.txt
/src/android-chrome-192x192.png
/src/android-chrome-512x512.png
/src/apple-touch-icon.png
/src/favicon-16x16.png
/src/favicon-32x32.png
/src/favicon.ico
/src/site.webmanifest
*/vendor/
!*/**/fatfree-core/base.php